h2 {
    font-size: 14px;
}

h1 {
    font-size: 19px;
    padding-top: 19px;
}

.turismo {
    background-color: red;
}

p {
    font-size: 14px;
}

button {
    color: white;
    border: none;
}

.imbobiliario {
    background-color: red;
}

.cultura {
    background-color: sandybrown;
}

.color:hover {
    background-color: rgba(189, 33, 59, 0.246);
}

.politica {
    background-color: rebeccapurple;
}

.color {
    color: #d13f57;
    border: none;
}

.turismo2 {
    color: red;
}

.imbobiliario2 {
    color: red;
}

.cultura2 {
    color: sandybrown;
}

.politica2 {
    color: rebeccapurple;
}