* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1%;
}

.row {
    width: 22%;
    border-bottom: black;
    margin: 10px;
    float: left;
    display: inline-block;
    border-right: solid 1px;
    border-top: solid 1px;
}

img {
    width: 100%;
}

.inmoviliario {
    background-color: red;
}

.talentoycultura {
    background-color: yellow;
}

.politica {
    background-color: purple;
}

.turismo {
    background-color: red;
}

.rojo {
    color: red;
}

.amarillo {
    color: yellowgreen;
}

.morado {
    color: purple;
}