body {
    line-height: 2;
    font-family: "Times New Roman', Times, serif";
    font-size: 15px;
    color: black;
    padding: 0px 50px 0 50px;
}

.header {
    text-align: right;
}

h1 {
    font-size: 20px;
}